{% extends 'base.html' %} {% block content %} {% if error_message %}
<h3 style="color: red; margin: auto auto 0">{{error_message}}</h3>
{%endif%}

<form action="{% url 'web:post' contest.id %}" method="post" style="margin: auto">
	{% csrf_token %}
	<ul style="list-style: none; text-align: center; width: 50%; margin: auto">
		<li style="margin-top: 10px">
			<label for="telegram_id">Telegram Name</label>
			<input style="margin-top: 5px" name="telegram_id" type="text" />
		</li>
		<li style="margin-top: 10px">
			<label for="twitter_id">Twitter Name</label>
			<input style="margin-top: 5px" name="twitter_id" type="text" />
		</li>
		<li style="margin-top: 10px">
			<label for="tweet_url">Tweet Url</label>
			<input style="margin-top: 5px" name="tweet_url" type="text" />
		</li>
		<input style="margin-top: 15px" type="submit" />
	</ul>
</form>

{% endblock %}
